<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ITestService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/TestService" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_ITestService" contract="TestServiceReference.ITestService"
                name="WSHttpBinding_ITestService">
                <identity>
                    <userPrincipalName value="zzhang@miacanalytics.net" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>